
<div class="row">
  <div class="col-md-12">
    <form autocomplete="off" #editRoleForm="ngForm">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h5>
                    <button
                      mat-icon-button
                      type="button"
                      [disabled]="saving"
                      (click)="close()"
                    >
                      <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                    <span *ngIf="action == 'edit'">{{ "EditRole" | localize }} - {{ editTitle }}</span>
                    <span *ngIf="action == 'view'">{{ "ViewRole" | localize }} - {{ editTitle }}</span>
                  </h5>
                </div>
                <div class="col-md-6 text-right" *ngIf="action=='edit'">
                  <button
                    mat-stroked-button="primary"
                    (click)="save('Save')"
                    [disabled]="!editRoleForm.form.valid || saving"
                  >
                    <i class="fa fa-save"></i> {{ "Save" | localize }}
                  </button>
                  <button
                    mat-stroked-button="primary"
                    (click)="save('SaveAndContunie')"
                    [disabled]="!editRoleForm.form.valid || saving"
                  >
                    <i class="fa fa-save"></i>
                    {{ "SaveAndContunie" | localize }}
                  </button>
                  <button
                    mat-stroked-button="danger"
                    *ngIf="isGranted('Role.Delete')"
                    (click)="delete()"
                  >
                    <i class="fa fa-trash"></i> {{ "Delete" | localize }}
                  </button>
                </div>
                <div class="col-md-6 text-right" *ngIf="action=='view' && isGranted('Role.Edit')">
                  <button
                  mat-stroked-button="primary"
                  [routerLink]="['/app/roles/edit', id]"
                  >
                  <i class="fa fa-edit"></i> {{ "Edit" | localize }}
                </button>

                </div>
              </div>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <mat-tab-group>
                      <mat-tab [label]="'RoleDetails' | localize">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <mat-form-field>
                              <input
                                matInput
                                name="Name"
                                [placeholder]="'Name' | localize"
                                [(ngModel)]="role.name"
                                required
                                minlength="2"
                                maxlength="32"
                              />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <mat-form-field>
                              <input
                                matInput
                                name="DisplayName"
                                [placeholder]="'DisplayName' | localize"
                                [(ngModel)]="role.displayName"
                                required
                                minlength="2"
                                maxlength="32"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-sm-12">
                            <mat-form-field>
                              <textarea
                                matInput
                                name="Description"
                                [placeholder]="'RoleDescription' | localize"
                                [(ngModel)]="role.description"
                              ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab [label]="'Permissions' | localize">
                        <div class="row">
                          <div class="col-md-3 col-sm-12">
                            <div class="checkbox-wrapper">
                              <permission-tree
                                #permissionTree
                              ></permission-tree>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
          </div>
    </form>
  </div>
</div>
