
<ul class="navbar-nav">
<app-navbar-languages></app-navbar-languages>  
    <li class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- <img src="assets/images/user.png" width="48" height="48" alt="User" /> -->
        {{shownLoginName}} 
        <!-- - {{appSession.user.emailAddress}} -->
      </a> 
      <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown" >
        <!-- Static link (starts with 'http') -->
        <a [routerLink]="['/app/update-password']" class="dropdown-item" *ngIf="isGranted('User.UpdatePassword')" >
            <i class="fa fa-lock"></i>
            {{ 'UpdatePassword' | localize }}
        </a>
        <!-- Static link (starts with 'http') -->
        <a (click)="logout()" href="" class="dropdown-item" >
            <i class="fa fa-lock"></i>
            {{ 'Logout' | localize }}
        </a>
      </div>
    </li>
  </ul>
