
<div class="row">
  <div class="col-md-12">
    <form novalidate (ngSubmit)="updatePassword(parentFormGroup.value)">
       <div class="card">
                    <div class="card-header">
                        <div class="row">
                          <div class="col-md-6">
                                <h5> {{ "UpdatePassword" | localize }}</h5>
                            </div>
                            
                          <div class="col-md-6 text-right">
                            <button  mat-stroked-button="primary" type="submit" [disabled]="!parentFormGroup.valid || isLoading">
                                <i class="fa fa-save"></i>  {{ "Save" | localize }}
                              </button>
                          </div>
                        </div>
                    </div>
                    <div class="card-body">
                          <div class="row">
                            <div class="col-md-12" [formGroup]="parentFormGroup">
                                  
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput id="currentPassword" type="password" name="CurrentPassword" formControlName="currentPassword"
                                                [placeholder]="'CurrentPassword' | localize"
                                                required minlength="2" maxlength="32"
                                                />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [formGroup]="passwordsFormGroup" formGroupName="passwords">
                                        <mat-form-field>
                                            <input matInput id="newPassword" formControlName="newPassword" type="password" name="NewPassword" 
                                                [placeholder]="'NewPassword' | localize"
                                                required minlength="2" maxlength="32"
                                                />
                                            <mat-error *ngIf="passwordsFormGroup.controls.newPassword.errors">
                                                {{ "PasswordsMustBeAtLeast8CharactersContainLowercaseUppercaseNumber" | localize }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" formGroupName="passwords">
                                        <mat-form-field>
                                            <input matInput id="repeatNewPassword" formControlName="repeatNewPassword" type="password" name="RepeatNewPassword" 
                                                [placeholder]="'ConfirmNewPassword' | localize" [errorStateMatcher]="equalMatcher"
                                                required minlength="2" maxlength="32"
                                                />
                                            <mat-error *ngIf="passwordsFormGroup.errors &&
                                                passwordsFormGroup.errors.areEqual &&
                                                passwordsFormGroup.controls.newPassword.touched
                                                ">
                                                {{ "PasswordsDoNotMatch" | localize }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                  
                            </div>
                          </div>
                    </div>
       </div>
      </form>
    </div>
</div>
  

