<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h5><i class="fa fa-users"></i> {{ "Tenants" | localize }}</h5>
      </div>
      <div class="col-md-9 text-right">
        <button mat-stroked-button="primary" *ngIf="isGranted('Tenant.Create')" [routerLink]="[ '/app/tenants/create']">
          <i class="fa fa-plus"></i> {{ "AddNew" | localize }}
        </button>
        <button  mat-stroked-button="dark" (click)="getTenants()">
          <i class="fa fa-refresh"></i> {{ "Refresh" | localize }}
        </button>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op [dismissable]="false" [showCloseIcon]="true">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
      
          <div class="col-md-6">
            <mat-form-field>
                <input matInput [placeholder]="l('Filter')" [(ngModel)]="keyword" name="keyword">
            </mat-form-field>
          </div>
        <div class="col-md-6">
            <mat-form-field>
                <mat-select [placeholder]="l('IsActive')" [(ngModel)]="isActive" name="isActive">
                    <mat-option value="">{{ 'All' | localize }}</mat-option>
                    <mat-option value="true">{{ 'Yes' | localize }}</mat-option>
                    <mat-option value="false">{{ 'No' | localize }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-12 text-right p-r-25">
          <button mat-raised-button color="primary" (click)="getTenants()">
            {{ "ApplyFilter" | localize }}
          </button>
        </div>

        </div>
      </form>
    </div>
  </div>
</p-overlayPanel>
<div class="row align-items-center">
  <div
    class="primeng-datatable-container col-md-12"
    [busy]="primengTableHelper.isLoading"
  >
    <p-table
      #dataTable
      (onLazyLoad)="getTenants($event)"
      [value]="primengTableHelper.records"
      rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
      [paginator]="false"
      [lazy]="true"
      [scrollable]="true"
      ScrollWidth="100%"
      [responsive]="primengTableHelper.isResponsive"
      [resizableColumns]="primengTableHelper.resizableColumns"
      [(selection)]="selectedTenants"
      dataKey="id"
      [rowHover]="true"
      scrollHeight="calc(100vh - 282px)"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-8 text-left">

            <button
            mat-stroked-button="danger"
            (click)="delete(tenant)"
            *ngIf="selectedTenants.length > 0 && isGranted('Tenant.Delete')"
          >
            <i class="fa fa-trash"> </i> {{ "Delete" | localize }}
          </button>

            <button
            mat-stroked-button="info"
            [routerLink]="['/app/tenants/edit', selectedTenants[0].id]"
            *ngIf="selectedTenants.length == 1 && isGranted('Tenant.Edit')"
          >
            <i class="fa fa-edit"> </i>  {{ "Edit" | localize }}
          </button>

          <button
          mat-stroked-button="primary"
          [routerLink]="['/app/tenants/view', selectedTenants[0].id]"
          *ngIf="selectedTenants.length == 1 && isGranted('Tenant.View')"
        >
          <i class="fa fa-eye"> </i>  {{ "View" | localize }}
        </button>
            
            
          </div>
          <div class="col-md-4 text-right">
            <div class="input-group">
              <input
                type="text"
                name="Keyword"
                [(ngModel)]="keyword"
                class="form-control"
                (keyup.enter)="getTenants()"
                [placeholder]="'Search' | localize"
              />
              <div class="input-group-prepend">
                <button
                  type="button"
                  mat-stroked-button="primary"
                  class="btn"
                  (click)="getTenants()"
                >
                  <span class="fa fa-search" aria-hidden="true"></span>
                </button>
              </div>
              <div class="dropdown input-group-append">
                <button type="button" mat-stroked-button="primary" (click)="op.toggle($event)" class="btn btn-toggle-filter" data-toggle="button" aria-pressed="false">
                  <i class="fa fa-filter"></i>
                  <span> {{ "Filter" | localize }} </span>
                  <i class="fa fa-angle-double-down"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
         </th>
          <th style="width: 150px" pSortableColumn="tenancyname">
            {{ "TenancyName" | localize }}
            <p-sortIcon field="tenancyname"></p-sortIcon>
          </th>
          <th style="width: 150px" pSortableColumn="name">
            {{ "Name" | localize }}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th style="width: 120px" pSortableColumn="isactive">
            {{ "IsActive" | localize }}
            <p-sortIcon field="isactive"></p-sortIcon>
          </th>

        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowIndex="rowIndex"
        let-record="$implicit"
      >
      <!-- <tr
          [pSelectableRow]="record"
          [pSelectableRowIndex]="rowIndex"
          (dblclick)="onRowDblClick(record)"
        > -->
        <tr
          [pSelectableRow]="record"
          [pSelectableRowIndex]="rowIndex"
          (dblclick)="onRowDblClick(record)"
        >
         <td style="width: 3em" (dblclick)="$event.stopPropagation()">
             <p-tableCheckbox [value]="record"></p-tableCheckbox>
         </td>
          <td style="width: 150px">
            {{ record.tenancyName }}
          </td>
          <td style="width: 150px">
            {{ record.name }}
          </td>
          <td style="width: 120px; ">
            <i style="color:#4CAF50 "
              class="material-icons check_box"
              *ngIf="record.isActive"
            >
              check_box
            </i>
            <i style="color: #dc3545;"
              class="material-icons indeterminate_check_box"
              *ngIf="!record.isActive"
            >
              indeterminate_check_box
            </i>
          </td>

        </tr>
      </ng-template>
    </p-table>
    <div
      class="primeng-no-data"
      *ngIf="primengTableHelper.totalRecordsCount == 0"
    >
      {{ "NoData" | localize }}
    </div>
    <div class="primeng-paging-container">
      <p-paginator
        [rows]="primengTableHelper.defaultRecordsCountPerPage"
        #paginator
        (onPageChange)="getTenants($event)"
        [totalRecords]="primengTableHelper.totalRecordsCount"
        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
      >
      </p-paginator>
      <span class="total-records-count">
        {{ "TotalRecordsCount" | localize }} : {{ primengTableHelper.totalRecordsCount }}
       
      </span>
    </div>
  </div>
</div>
