
<div class="row">
    <div class="col-md-12">
      <form  autocomplete="off" #createCarModelModal="ngForm">
          <div class="card">
                    <div class="card-header">
                        <div class="row">
                          <div class="col-md-6">
                                <h5>
                                  <button mat-icon-button type="button" [disabled]="saving" (click)="close()">
                                    <mat-icon>keyboard_backspace</mat-icon>
                                  </button> 
                                  <span *ngIf="action == 'edit'">{{ "EditCarModel" | localize }} - {{ editTitle }}</span>
                                  <span *ngIf="action == 'view'">{{ "ViewCarModel" | localize }} - {{ editTitle }}</span>
                                </h5>
                            </div>
                           
                          <div class="col-md-6 text-right" *ngIf="action=='edit'">
                            <button mat-stroked-button="primary"  (click)="save('Save')" [disabled]="!createCarModelModal.form.valid || saving">
                              <i class="fa fa-save"></i> {{ "Save" | localize }}
                            </button>
                            <button  mat-stroked-button="primary" (click)="save('SaveAndContunie')" [disabled]="!createCarModelModal.form.valid || saving">
                              <i class="fa fa-save"></i>  {{ "SaveAndContunie" | localize }}
                            </button>
                            <button mat-stroked-button="danger" *ngIf="isGranted('CarModel.Delete')"  (click)="delete()">
                              <i class="fa fa-trash"></i>  {{ "Delete" | localize }}
                            </button>
                          </div>
                          <div class="col-md-6 text-right" *ngIf="action=='view' && isGranted('CarModel.Edit')">
                            <button
                            mat-stroked-button="primary"
                            [routerLink]="['/app/car-models/edit', id]"
                            >
                            <i class="fa fa-edit"></i> {{ "Edit" | localize }}
                          </button>
          
                          </div>
                        </div>
                    </div>
                    <div class="card-body">
                          <div class="row">
                            <div class="col-md-12">
                                  <div class="row">
                                   
                                    <div class="col-md-12 col-sm-12">
                                      <mat-form-field>
                                        <input matInput name="Name" [placeholder]="'Name' | localize" [(ngModel)]="carModel.name" required
                  maxlength="32" />
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  
                            </div>
                          </div>
                    </div>
          </div>
      </form>
    </div>
  </div>