@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body{
  /* background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% ); */
  font-size:14px;
  line-height: normal;
  background: #F5F5F5;
}
.login-page .login-box .logo{
  margin-bottom: 20px;
}
.login-page .login-box .logo a{
  font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #3f51b5;
}
.info-box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.info-box .icon {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  width: 80px;
}
.info-box .icon i {
  color: #fff;
  font-size: 50px;
  line-height: 80px;
}
.info-box .content {
  display: inline-block;
  padding: 7px 10px;
}
.info-box .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #fff;
}
.info-box .content .number {
  font-weight: 400;
  font-size: 26px;
  margin-top: -4px;
  color: #fff;
}

/*COLORS*/
.bg-pink {
  background-color: #e91e63 !important;
  color: #fff;
}
.bg-cyan {
  background-color: #00bcd4 !important;
  color: #fff;
}
.bg-light-green {
  background-color: #8bc34a !important;
  color: #fff;
}
.bg-orange {
  background-color: #ff9800 !important;
  color: #fff;
}

button[mat-stroked-button] {
  background-color: #fff;
  border-radius: 0;
  margin: 0 3px !important;
}

button[mat-stroked-button="primary"] {
  color: #3f51b5;
  border: solid 1px #3f51b5 !important;
}
.mat-stroked-button[disabled]:hover {
  background-color: transparent;
  cursor: no-drop;
}
button[mat-stroked-button="primary"]:hover {
  background-color: #3f51b5;
  color: #fff;
}

button[mat-stroked-button="danger"] {
  color: #dc3545;
  border: solid 1px #dc3545 !important;
}


button[mat-stroked-button="danger"]:hover {
  background-color: #dc3545;
  color: #fff;
}

button[mat-stroked-button="info"] {
  color: #17a2b8;
  border: solid 1px #17a2b8 !important;
}

button[mat-stroked-button="info"]:hover {
  background-color: #17a2b8;
  color: #fff;
}

button[mat-stroked-button="dark"] {
  color: #343a40;
  border: solid 1px #343a40 !important;
}
button[mat-stroked-button="dark"]:hover {
  background-color: #343a40;
  color: #fff;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

body
  .ui-table.ui-table-hoverable-rows
  .ui-table-tbody
  > tr.ui-selectable-row:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

body .ui-table tbody .ui-state-highlight 
{ 
  background-color: #3f51b5 !important; 
}

.mat-tab-body{
  top: 10px !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.card-header {
  /* position: sticky; */
  left: 0;
  top: 0;
  right: 0;
  color: #393f46;
  background-color: #fff;
  border-color: #dee2e6;
  z-index: 90; 
  padding: 8px;
  box-shadow: 0 0 1px; 
}
.card-header h5 {
  margin: 0;
  color: #574f4f;
}
.card-body {
  padding: 20px;
  height: calc(100vh - 142px);
  overflow-y: auto;
}

/* scroll begin */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9E9E9E;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* scroll end */

.ui-tree {
  width: 100%;
}

body .ui-widget-content {
  border: none !important;
}

.hidden-tree-node {
  display: none;
}
.bg-dark{
    background-color: #3f51b5 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  background-color: #F5F5F5 !important;
  margin-top: 0;
}

.dropdown-item{
  color:black;
  font-size:14px;
}
.dropdown-item:hover{
  color: #F5F5F5;
  background-color: #3f51b5;
}

.dropdown:hover{
  background: rgba(255,255,255,0.15);
  opacity: 1;
}

.dropdown.active {
  background: rgba(255,255,255,0.15);
  opacity: 1;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
  background-color: #3f51b5;
}

.mat-checkbox .mat-ripple-element {
  background-color: #4CAF50;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #4CAF50 !important;
}