
    <!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx">MyProject</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
      
    </span>
  </mat-toolbar>
    <router-outlet></router-outlet>

 

    <!-- <div class="row">
        <div class="col-xs-12 text-center" style="color: #e9e9e9">
            <small>&copy; {{currentYear}} MyProject. <b>{{ "Version" | localize }} </b> {{versionText}}</small>
        </div>
    </div> -->